:root {
  --white-color: #fff;
  --header-color-background: #01324a;
  --button-blue-background: #049db5;
  --hover-button-blue: #058498;
  --font-gray-color: #4d6476;
  --font-light-gray-color: #37718e;
  --font-size: 14px;
  --font-size-m: 18px;
  --font-size-l: 27px;
  --font-size-xl: 42px;
  --font-size-xxl: 58px;
  --mobile-font-size-m: 18px;
  --mobile-font-size-l: 20px;
  --mobile-font-size-xl: 32px;
  --mobile-font-size-xxl: 32px;
}

/* General Settings */

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

.container__header {
  display: grid;
  place-content: center;
}

.text--xxl {
  font-size: var(--font-size-xxl);
}

.text--center {
  text-align: center;
}

.text--l {
  font-size: var(--font-size-l);
}

.text--m {
  font-size: var(--font-size-m);
}

/* Header */

main {
  background-color: var(--header-color-background);
  color: var(--white-color);
}

.container__logo {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__navigationMenu {
  width: 75%;
}

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  font-size: var(--font-size-m);
}

.action--button {
  background-color: var(--button-blue-background);
  cursor: pointer;
  color: var(--white-color);
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  padding: 0.25rem 0.75rem;
  font-size: var(--font-size-m);
  width: 120px;
}

.container__mainInfo {
  padding: 60px 0 50px 0;
  max-width: 900px;
}

#mainDescription {
  color: var(--font-gray-color);
}

.container__buttons {
  display: flex;
  justify-content: space-evenly;
}

/* Services Section */

.container__services {
  padding: 100px 0 100px 0;
  margin: 0;
  display: grid;
  place-content: center;
  justify-items: center;
}

.introduction__services {
  text-align: center;
  max-width: 600px;
}

.services--title {
  color: var(--header-color-background);
}

.services__container {
  background-color: var(--header-color-background);
  border-radius: 24px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.services--center {
  padding: 75px;
  text-align: center;
  max-width: 300px;
}

.services--intro {
  color: var(--white-color);
}

.services--description {
  color: var(--font-light-gray-color);
}

.service--image {
  width: 40px;
  padding: 34px;
  background-color: var(--white-color);
  border-radius: 50%;
}

.learn-more--button {
  padding: 16px 32px;
  border: 1px solid var(--white-color);
  border-radius: 40px;
  color: var(--white-color);
  background-color: var(--header-color-background);
  font-size: var(--font-size);
  font-weight: bold;
  line-height: 24px;
}
